:root {
    --backgroundColor: #1a093f;
    --objectColor: #2b0d69;
    --textColor: white;
    --accentColor: #f64c72;
    --boxShadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
}

* {
    color: var(--textColor);
}

body {
    background-color: var(--backgroundColor);
}

.flex-align {
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
}

.bold {
    font-weight: bold;
}
