.login {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    justify-content: center;
    overflow: hidden;
}

.loginWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.loginLeft,
.loginRightWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.loginRight {
    width: 80%;
}

.loginLogo {
    font-size: 6vw;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Yellowtail';
    text-align: center;
}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: var(--commentBackgroundColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginInput {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--accentColor);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:focus {
    outline: none;
}

.loginButton:disabled {
    cursor: not-allowed;
}

.loginRegister {
    text-align: center;
    color: white;
}

.loginRegisterLink {
    color: var(--accentColor);
    text-decoration: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

.loginRegisterLink:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
