.loader {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: var(--commentBackgroundColor);
    box-shadow: var(--boxShadow);
}

.loaderTop {
    width: 100%;
    height: 225px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: var(--objectColor);
}

.profilePictureSkeleton {
    padding: 10px;
}

.loaderBottom {
    padding: 10px;
}
