.post {
    width: 100%;
    box-shadow: var(--boxShadow);
    margin: 30px 0 0 0;
    background-color: var(--commentBackgroundColor);
    border-radius: 10px;
}

.postWrapper {
    background-color: var(--objectColor);
    border-radius: 10px;
    padding: 10px;
}

.postTop {
    justify-content: space-between;
}

.postTopLeftLink {
    text-decoration: none;
}

.postProfileImg {
    width: 32px;
    height: 32px;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    justify-content: space-between;
}

.postLikeCounter {
    font-style: 15px;
}

.postCommentIcon {
    margin: 5px;
}
