.profile {
    display: flex;
}

.profileRight {
    flex: 2;
    margin: 10px;
    background-color: var(--objectColor);
    border-radius: 25px;
    height: 700px;
    overflow: auto;
    box-shadow: var(--boxShadow);
}

.profileLeft {
    flex: 3;
    display: flex;
}
