.share {
    width: 100%;
}

.shareWrapper {
    padding: 10px;
    height: 160px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    background-color: var(--objectColor);
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
    background-color: inherit;
    font-size: 20px;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 25px;
}

.shareOption {
    margin: 15px;
    cursor: pointer;
}

#shareLocationInput {
    background: none;
    border: 1px solid var(--textColor);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
    width: 0px;
    height: 25px;
    visibility: hidden;
    transition: width 0.4s ease-in;
}

#shareLocationInput:focus {
    outline: none;
}

.shareButtonWrapper {
    margin-right: 10px;
}

#postAlertSuccess {
    background-color: rgba(118, 254, 148, 0.3);
    border: 1px solid rgba(118, 254, 148, 0.8);
    border-radius: 10px;
    margin-bottom: 0px;
}
